@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Roboto:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  display: inline;
  text-decoration: none;
  color: #243e63;
}


a:hover {
  text-decoration: underline;
}

.blue {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  line-height: 1.25 
}

p {
  font-size: 16px;
  color: #243e63;
}

section {
  padding: 0 32px;
}

.container {
  padding: 80px 0;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.nav__link:hover, .footer__link:hover {
  color: plum;
  transition: all 300ms;
}

#footer__link--subtitle:hover {
  text-decoration: none;
  cursor: default;
  transition: none;
  color: white;
}


/*NAV BAR SECTION*/

nav {
  padding-top: 32px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__logo{
  display: flex;
  align-items: center;
  margin: 8px 0px;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
}

.logo__img {
  height: 40px;
  width: 40px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  transition: all 300ms;
  margin: 0 24px;
}

#signup {
  color: white;
  padding: 10px 24px;
}

#signup:hover {
  color: #6415ff;
}

button {
  background-color: #6415ff;
  border-radius: 9999px;
  padding: 10px 32px;
  width: auto;
  color: white;
  font-weight: bold;
  margin-top: 2px;
  line-height: 1.5;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:active {
  transform: translateY(1px);
}

.btn__menu {
  background: transparent;
  border: none;
  transition: all 300ms ease;
  color: #243e63; 
  display: none;
  font-size: 40px;
}


/*HEADER SECTION*/

.header__description {
  width: 40%;  
}

.header__description--para {
  padding: 32px 0;
  font-size: 16px;
  line-height: 1.5;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgba(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.header__email--btn {
  float: right;
  position: relative;
  top: -59px;
  left: -1.5%;
  padding: 14px 32px;
  display: flex;
}

.header__customers--title {
  margin-top: 80px;
  font-size: 12px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.355);
}

.header__customers {
  width: 95%;
  margin-top: 16px;
  opacity: .5;
}

.header__image--wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  
}

.header__img {
  width: 90%;
  height: 100%;
}

/*FEATURES SECTION*/

#features .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.3;
  margin: 16px 0;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.features__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 40px 40px 0 40px;
}


.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__description {
  margin-top: 16px;
}

.feature__text {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

.feature__img--wrapper {
  border: solid 1px lightgray;
  border-radius: 500px;
  display: flex;
  padding: 20px;
  margin-right: 20px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

/*QUALITY WORK SECTION*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.quality__description {
  width: 50%;
}

.quality__img--wrapper {
  width: 50%;
  margin: 0px 56px;
}

.quality__img {
  border: .5px solid rgb(210, 206, 206);
  border-radius: 4px;
  width: 100%;
}

.learn_btn {
  margin-top: 24px;
}

/*STEPS SECTION*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__description {
  width: 50%;
  padding-left: 36px;
}

.steps__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.steps__img {
  width: 100%;
  height: 100%;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}


.step__title {
  font-weight: 600;
  font-size: 24px;
  color: #243e63;
  line-height: 1;
}

.step__description {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 24px;
  
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
  line-height: 1;
  font-weight: 600;
}

.step__para {
  margin-top: 12px;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
  color: #718096;
}

/*VALUE SECTION*/

#values .row {
  display: flex;
  justify-content: space-between;
}

.value__section {
  width: 50%;
  padding-right: 32px;
}

.value__description--wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
}

.value__description {
  margin: 25px 0 12px 16px;
}

.value__title {
  display: flex;
  margin-bottom: 12px;
}

.fa-sack-dollar  {
  margin-right: 16px;
  border-radius: 50%;
  background-color: #9ae6b4;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fa-briefcase {
  margin-right: 16px;
  border-radius: 50%;
  background-color: #feb2b2;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value__name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .3px;
}

.values__img--wrapper {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.values__img {
  width: 80%;
}

.value__btn {
  margin-top: 36px;
}


/*PRICING SECTION*/

#pricing .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.plan {
  width: 100%;
  max-width: 384px;
  margin: 64px 32px 0 0;
  padding-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: relative;
  z-index: 100;
  background: #fff;
}

.plan__stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
}

.stripe--1 {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.stripe--2 {
  visibility: hidden
}

.stripe--3 {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__top, .plan__middle, .plan__bottom {
  padding: 32px;
  text-align: center;
}

.plan__name {
  color: #1a202c;
  font-size: 20px;
  text-transform: uppercase;
}

.plan__price {
  font-size: 48px;
  margin: 4px 0;
}

.plan__duration {
  color: #a0aec0;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.plan__name, .plan__price, .plan__duration {
  font-weight: bold;
  line-height: 1.625;
}

.plan__feature {
  margin-top: 20px;
  font-weight: 500;
  color: #718096;
  font-size: 16px;
  line-height: 1.5;
}

.plan__target {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.plan__middle {
  border-top: 2px solid rgb(229, 231, 235);
  border-bottom: 2px solid rgb(229, 231, 235);
}

#middle .plan__middle {
  border-top: 2px solid rgb(102, 126, 234);
  border-bottom: 2px solid rgb(102, 126, 234);
}

#middle.plan {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: #f7fafc;
}

#middle .plan__name, #middle .plan__duration, #middle .plan__feature {
  color: #f7fafc;
}

.plan__bottom {
  padding: 32px 64px;
}

.plan__button {
  text-transform: uppercase;
  text-align: center;
  padding: 16px 32px;
  border-radius: 500px;
  border: none;
  font-size: 14px;
  width: 100%;
  max-width: 192px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  transition: all 300ms;
}

.plan__btn--1 {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--2 {
  color: #6415ff;
  background-color: #f7fafc;
}

.plan__btn--3 {
  color: #f7fafc;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%)
}



/* TESTIMONIALS */

.testimonial__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.testimonial__img {
  width: 80%;
}

.testimonial__section {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.testimonial__title {
  margin-top: 12px;
  font-size: 20px;
}

.testimonial__desc--wrapper {
  margin-top: 40px;
}

.ratings {
  color: gold;
}

.testimonial__para {
  margin: 16px 0px 40px 0;
  color: #4a5568;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
}

.testimonial__bottom {
  display: flex;
  justify-content: space-between;
}

.testimonial__profile {
  display: flex;
  align-items: center;
}

.profile__details {
  margin-left: 24px;
}

.testimonial__profile--img {
  width: 100px;
  border-radius: 50%;
}

.testimonial__name {
  font-weight: 700;
  color: #243e63;
  font-size: 20px;
  line-height: 1.5;

}

.testimonial__role {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__buttons {
  display: flex;
  align-items: center;
}

.test__btn {
  color: #6415ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: #edf2f7;
  border-radius: 50%;
  margin: 0 12px;
  transition: all 300ms;
}

.divider {
  width: 1px;
  height: 24px;
  background: rgb(229, 231, 235);
}



/*CONTACT CONTAINER*/

#contact__us {
  padding: 96px 32px;  
}

#contact__us .container {
  background-color: #6415ff;
  border-radius: 10px;
}

#contact__us .row {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__contact {
  width: 50%;
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.contact__btn--wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.contact__btn--1 {
  background-color: rgb(249, 109, 58);
  margin-right: 35px;
  padding: 20px 40px;
  line-height: 1.5;
}

.contact__btn--2 {
  border: 1px solid #f7fafc;
  padding: 20px 40px;
}


/*FOOTER*/

footer {
  padding: 96px 32px;
  background-color: #6415ff;
  color: white;
  margin-bottom: -32px;
  margin-top: 100px;
}

.row__footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer__link--wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#footer__link--subtitle {
  text-transform: uppercase; 
  font-weight: bold;
  margin-bottom: 16px;  
}

.footer__links {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__link {
  text-decoration: none;
  margin-top: 20px;
  color: white;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__divider {
  width: 100%;
  height: 2px;
  margin: 64px 0;
  background: #ccced038;

}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
}

.footer__img {
  width: 30px;
}

.copyright {
  text-transform: capitalize;
  color: #cfd1d3;
  font-size: 16px;
}

#social {
  margin-left: 16px;
  padding: 8px;
  color:#243e63;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color:#f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms;
}

#social:hover {
  color: #cbd5e0;
  transition: opacity all 300ms ease;
  opacity: 1;
  transform: translateY(2px);
}

.social__links {
  display: flex;
}




/*Tablets, large smartphones*/

@media (max-width: 1024px) {

    .nav__links {
      display: none;
    }

    .btn__menu {
      display: block;
    }


    .header__description {
      width: 75%;
      align-items: center;
    }

    header .row {
      display: flex;
      flex-direction: column;
      align-items: center; 
      margin: 0 auto;
      text-align: center;
      width: 95%;
    }

   .features__wrapper {
      padding: 0px 8px;
      max-width: 768px;
      display: flex;
      align-items: center;
   } 

   .feature__row {
    width: calc(100% / 2);
   }

   #values .row {
    display: flex;
   }

   .value__description--wrapper {
    flex-direction: column;
   }


   #pricing .plans {
    flex-direction: column;
    align-items: center;
   }

   .plan {
    margin-bottom: 40px;
   }

}


/*small phones, tablets, large smartphones*/

@media (max-width: 768px) {

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align:center;
    }

    h1, .section__title {
      font-size: 32px;
      width: 100%;
    }

    .section__para {
      font-size: 16px;
    }

    .features__wrapper {
      flex-direction: column;
      align-items:center;
          
    }

    .feature__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .feature__img--wrapper {
      margin: 0;
    }

    .feature__text {
      margin: 0;
      line-height: 1.5;
      
    }

   #quality .row, #values .row {
      flex-direction: column-reverse;
    }

    .quality__img {
      margin-bottom: 36px;
      width: 100%;
      height: 100%;
    }

    .header__img, .quality__img--wrapper, .steps__img, .values__img, .testimonial__img {
      width: 448px;
      align-items: center;
    }

 }

  